@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!doctype html>



<body>



<br>
<br>
<br>


<div class="text-center">
   <br>
   <br>
    <p class="description" style="color:#5C5266;font-size:50px " >NEW EXPANSION PACK</p>
    <p style="color:#5C5266;font-size:50px;" font-family="custom">  ZMEJELOV  <span style="color:#D11313;">THE FINAL RAGE</span> 
        <a href="https://zmejelov-the-final-rage.netlify.app" target=”_blank”><span style="color:#5C5266" >AVAILABLE NOW</span></a></p>
    <a style="color:#5C5266 ;font-size:40px" href="https://zmejelov-the-final-rage.netlify.app" target=”_blank”><p><img src = "the final rage.png" alt = "the final rage.png" align="center" width="1000px" height="600px" margin-left="-100px"  /></p>
</a>

 <p ><article style="color:#E950F4;font-size:50px;margin-left: 130px;;margin-top: 80px;">»RAČUNALNIK NE DELA NAPAK, PREPROSTO IZVRŠUJE TO, KAR MU UKAŽEMO«</article></p>  
     <br>
   <br>
    <p style="margin-top: -80px; margin-left: 40px; font-size:70px"></p><article style="color:#1A191D;font-size:35px;margin-left: 130px;;margin-top: -50px;">  
       Projekt je začel nastajati že v srednji šoli, takrat še pod imenom "IZDELAVA 2D IGRE V HTML Z UPORABO CSS IN JAVASCRIPTA", katerega namen je bil,
        dobiti dobro oceno za maturo. 
      Namen same prenove igre, ki jo končno dobila tudi svoje ime, ni bil ta, da jo bo zdej igralo vso podeželje, ker bodimo iskreni, koliko od vas, bo sploh prišlo
       do cilja. Ne, namen je bil, da je igra dobila podobo, ki si jo zasluži (ter da je moja duša srečna). V prenovo je res šlo okoli 100 ur, igra je postala zelo kompleksna,
       kar se mislim, da se tudi odraža, v kolikor ste jo oz jo boste igrali. Med samim programiranjem je prišlo do veliko težav, na koncu se je vse uspešno rešilo - no skoraj vse. 
       Nekajkrat se je namreč zgodilo, da problema nisem znal rešiti, niti s pomočjo Googla, zato se je pregovor »If it's a bug, make it a feature« izkazal za resničnega. Sama prenova
        vsebuje nove nivoje, prenovljen UI, nove koncepte igranja in veliko ur zabave XD. Prelevila se je iz speed running igre v bolj story telling igro.
        Igra je tudi dobila dve razširitvi, City zmentures, v kateri je predstavljeno Zmejino popotovanje v mesto. Druga se imenuje The final rage, ki predstavlja nek zaključek celotnega 
        projekta. Namen zadnje razširitve je bil, da se je igra dodelala v nulo - dobila je svojo grafično podobo, bile so tudi upoštevane želje igralcev, tako, da je igra v verziji 4.0
         celo lažja kot v prejšnjih!
         Moram priznati, da sem z končno podobo Zmejelova zelo zadovoljen. To je tisti občutek, ko si v glavi nekaj zamisliš, potem pa, ko izvršiš je še 10x boljše,
         kot si si sploh predstavljal. To je zame Zmejelov.
      V tem momentu bi se rad zahvalil vsem, ki ste me inspirirali. Upam da boste v igrici užival, saj pol toliko, kot sem jaz medtem, ko sem jo delal. Prijetno in veselo igranje! 
      
      
      Viri:
      *https://itch.io/game-assets
      *https://craftpix.net/
      *https://www.gamedevmarket.net/


        
      </article></p>  



</div>



    </body>
</html>
