@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!doctype html>

<html lang= "en">
    <head> 
        <meta charset = "utf-8">
        <title>
             My Page
        </title>
    </head>
    <body>

        <div class="text-center">
    <p style="color:#2A282E;font-size:50px">NEW EXPANSION PACK</p>
    <p style="color:#2A282E;font-size:50px">  <img src="the final rage.png" alt="Sample Photo" />
ZMEJELOV THE FINAL RAGE AVAILABLE NOW</p>
  <img src="the final rage.png" alt="Sample Photo" />
  <img src="../city zmentures.png" alt="Sample Photo" />
  <img src="https://github.com/randomtuser/zmejelov/blob/main/Pages/zmejelov.png" alt="Sample Photo" />

</div>
    <img src="C:\Users\tilen\Desktop\personal\zmejelov\website 2.0\zmejelov\Pages\zmejelov.png" alt="Sample Photo" />

    </body>
</html>
