@page
@model PrivacyModel
@{
    ViewData["Title"] = "VERSIONS";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="text-center">
    <p style="color:#2A282E;font-size:50px">NEW EXPANSION PACK</p>
    <p style="color:#2A282E;font-size:50px">ZMEJELOV THE FINAL RAGE AVAILABLE NOW</p>
    <img src="assets\zmejelov.png" width="200" height="267" alt="me">

</div>
        <img src="../project2/image.png" />
    <img src="..\assets\zmejelov.png" alt="zmejaTheFinalRage"width="128" height="128"/>
        <img src="..\..\assets\zmejelov.png" alt="zmejaTheFinalRage"width="128" height="128"/>
        <img src="Pages\the final rage.png" alt="zmejaTheFinalRage"width="128" height="128"/>
        <img src="the final rage.png" alt="zmejaTheFinalRage" width="128" height="128">


<img src="the final rage.png" alt="Sample Photo" />
 <img src="../project2/image.png" />
    <img src="../assets\zmejelov.png" alt="zmejaTheFinalRage"width="128" height="128"/>
        <img src="..\..\assets\zmejelov.png" alt="zmejaTheFinalRage"width="128" height="128"/>
        <img src="Pages\the final rage.png" alt="zmejaTheFinalRage"width="128" height="128"/>