@page
@model PrivacyModel


<br>
<br>
<br>
<br>
<p  style="color:#5C5266;font-size:50px; text-align:center">GLAVNI NAPOVEDNIK</p>
<p><center><iframe width="1000" height="600" src="https://www.youtube.com/embed/WkpYCOwkyK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center></p>
<br>

<p  style="color:#5C5266;font-size:50px; text-align:center" >GAMEPLAY NAPOVEDNIK</p>
<p><center><iframe width="1000" height="600" src="https://www.youtube.com/embed/8FBgXSOVxkc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center></p>
<br>

<p  style="color:#D4C42D;font-size:50px; text-align:center">CITY ZMENTURES</p>
    <p><center><iframe width="1000" height="600" src="https://www.youtube.com/embed/q67AnEn8GQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
  <br>
  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center></p>

<p  style="color:#D11313;font-size:50px; text-align:center">THE FINAL RAGE</p>
    <p><center><iframe width="1000" height="600" src="https://www.youtube.com/embed/nN8u2-mLYUY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
     clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><center></p>
<br>


<p  style="color:#5C5266;font-size:50px; text-align:center">!!SPOILER!! Kako opraviti določen nivo</p>
    <p><center><iframe width="1000" height="600" src="https://www.youtube.com/embed/whNDs0nR5HQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><center></p>



   