@page
@model PrivacyModel

<br>

<br>

<div class="text-center">
   <br>
   <br>
    <p><img src = "the final rage.png" alt = "the final rage.png" align="center" width="800px" height="400px" margin-left="-100px"  /></p>
    <p style="color:#000000;font-size:50px;" font-family="custom">  ZMEJELOV <span style="color:#000000;">THE FINAL RAGE (v4.0)</span> <span style="color:#5C5266;">
    <p style=" color:#5C5266 ;font-size:35px">Popolna in najsodobnejša verzije igre, vsebuje vse 3 dele trilogije</p>
    <a style="color:#5C5266 ;font-size:40px" href="https://zmejelov-the-final-rage.netlify.app" target=”_blank”>IGRAJ TUKAJ</a>
    <br>
    <br>
    <br>
    <br>
    <p><img src = "city zmentures.png" alt = "city zmentures.png" align="center" width="800px" height="400px" margin-left="-100px"  /></p>
    <p style="color:#000000;font-size:50px;" font-family="custom">  ZMEJELOV  <span style="color:#000000;">CITY ZMENTURES (v3.0)</span> <span style="color:#5C5266;">
    <p style=" color:#5C5266 ;font-size:35px">Prva razširitev igre, z dodatnimi nivoji in novimi prigodami</p>
    <a style="color:#5C5266 ;font-size:40px" href="https://cityzmentures.netlify.app/" target=”_blank”>IGRAJ TUKAJ</a>
    <br>
    <br>
    <br>
    <br>
    <p><img src = "zmejelov.png" alt = "zmejelov.png" align="center" width="800px" height="400px" margin-left="-100px"  /></p>
    <p style="color:#000000;font-size:50px;" font-family="custom">  ZMEJELOV  <span style="color:#000000;">(v2.4)</span> <span style="color:#5C5266;">
    <p style=" color:#5C5266 ;font-size:35px">Posodobljena verzija maturitetnega projekta</p>
    <a style="color:#5C5266 ;font-size:40px" href="https://basegame.netlify.app/" target=”_blank”>IGRAJ TUKAJ</a>
    <br>
    <br>
    <br>
    <br>
    <p><img src = "Capture.PNG" alt = "maturitetna" align="center" width="800px" height="400px" margin-left="-100px"  /></p>
    <p style="color:#000000;font-size:50px;" font-family="custom">  DON'T RAGE  <span style="color:#000000;">(v1.0)</span> <span style="color:#5C5266;">
    <p style=" color:#5C5266 ;font-size:35px">Prvotna speedrunning igra, še s starim imenom</p>
    <a style="color:#5C5266 ;font-size:40px" href="https://dontrage.netlify.app/" target=”_blank”>IGRAJ TUKAJ</a>



</div>






